.zipatoButton {
	display: block;
	background-color: rgba(100,112,118,0.2);
	width: 90px;
	text-align: center;
	margin: 17px;
	float: left;
	padding: 15px 10px 15px 10px;
	border-radius: 2px;
	border: 1px solid rgba(100,112,118,0.3);
	color: white;
	font-size: 15px;
}

.activeButton{
	background-color: rgb(0,108,230);
}

