body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-weight: 200;
    font-size: 11pt;
    background-color: rgb(40, 40, 40);
    color: rgb(255, 255, 255);
}

.grid {
    height: 100vh;
    width: 100vw;
    display: grid;
    position: relative;
    overflow: hidden;
    grid-template-columns: auto 30vw;
    grid-template-rows: 15vh auto 14vh;
}

.gridCalendar {
    grid-column: 1 / 1;
    grid-row: 1 / 4;
    overflow: auto;
}

.gridClock {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.gridTrains {
    grid-column: 2 / 3;
    grid-row: 3 / 3;
    justify-content: space-evenly;
    align-items: center;
}

.gridSettings {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    background-color: darkblue;
    z-index: 999;
}

.gridEnergy {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
}

.block {
    margin: 0;
    padding: 1vw;
    display: flex;
}

.clockTime {
    font-size: 6em;
    font-weight: 200;
}

.gridNetatmoTemp {
    font-size: 2.5em;
    font-weight: 200;
}

@media only screen and (max-width: 600px) {
    .grid {
        grid-template-columns: 100vw;
        grid-template-rows: 10vh auto 14vh;
    }
    .gridCalendar {
        grid-row: 2 / 4;
        overflow: auto;
    }
    .gridClock {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    .gridSettings {
        grid-column: 1 / 2;
        grid-row: 1 / 4;
    }
    .gridNetatmoTemp {
        display: none;
    }
    .clockTime {
        font-size: 4.5em;
    }
}