image: node:latest

cache:
  paths:
    - node_modules/

deploy_production:
  stage: deploy
  environment: Production
  only:
    - master
  script:
    - yarn add firebase-tools --global 
    - cd /builds/tellulf/tellulf-client
    - ls
    - yarn
    - CI=false yarn run build
    # - firebase use --token $FIREBASE_DEPLOY_KEY production
    # - firebase deploy -m "Pipeline $CI_PIPELINE_ID, build $CI_BUILD_ID" --non-interactive --token $FIREBASE_DEPLOY_KEY