# Bare kjøre på hovedbranch
if: branch = master

language: node_js
node_js: '10'
cache:
  - yarn
  - npm

install:
- npm install -g firebase-tools
- yarn install --non-interactive --pure-lockfile
- cd "functions" && yarn install --non-interactive --pure-lockfile && cd ..

before_script:
- yarn run lint
- docker login --username $DOCKERHUB_USER --password $DOCKERHUB_PWD

script:
# Build client
- CI=false yarn run build || travis_terminate 1;
# build server 
- cd ./server/
- CI=false yarn run build
- docker build -t kvasbo/tellulf .
- cd ..

after_script:
# Deploy client
- firebase deploy -m "Travis, Build $TRAVIS_BUILD_NUMBER, commit $TRAVIS_COMMIT" --non-interactive --token $FIREBASE_TOKEN
# Push server (not deployed)
- docker tag kvasbo/tellulf:latest kvasbo/tellulf:ci_$TRAVIS_BUILD_NUMBER
- docker push kvasbo/tellulf
- docker push kvasbo/tellulf:ci_$TRAVIS_BUILD_NUMBER

env:
  global:
    secure: JlD3Gx5+VtK4IYSJRrmX9vwEkYtPZ6aQuKawCVok1DuolNEA3x38UuxYbEGeXLQQk/INkZSSHZCVsmWPG4XKCMvYwXSIYbIUTMlY+dMy1cGIsq2X8UUytrNFSzcvBFisTBA3sP3i78eBx3p4JKxydtBMJHsMYoMbipV8PzlUtqGIGek6rzJgLGdsQMB4NN0n1BYIb0xmV3e97C8o2SA0KdciEol+tdt0w1RBYPaXKQjF1x7kkqinhxYOqwzWc7v5brXX++GKV23e7GhiXGXyeSKpz0hmDPV8hPwbtU0pfZOZGRIzpbp9aVG4czo6wDea3J8nNW8T3fA7ylQwe4GAWjRfyE635s26D7xRX9Yye4WAfBb+LDfCkXgSQcKzmTGahQxN8nzqzZZ/iFOftx1hVm9YRCfMjio9bM3jYrVHM9hmq6gDBu3dC3WRqNA95YDHuTrhFCHO1hZi16z4Mu9cp/dZudoLONyY90svUWEnjoDSLwODCNYdREolLD+bSWUjLbLJiRibApCcW/SWRTmhW4LEg7ivPWxYVSxdW48bgVSKkoEHIY9+KewBb/wvmpOfSVICMPXDPIxIfvXXoq8DGCNqqq0lahdO0S6MupusILv4PUG4EoSeLjtpAgVOUnJS0l1PPjQtImNyrOihPFmpeNj3mAvx1HVGI/ayO5LT8Ho=
