language: node_js
node_js:
- '10'
before_script:
- npm install -g firebase-tools
script:
- CI=false yarn run build
- cd functions
- yarn install --non-interactive --pure-lockfile
- cd ..
- cd kvasbo/tellulf-client
env:
  global:
    secure: JlD3Gx5+VtK4IYSJRrmX9vwEkYtPZ6aQuKawCVok1DuolNEA3x38UuxYbEGeXLQQk/INkZSSHZCVsmWPG4XKCMvYwXSIYbIUTMlY+dMy1cGIsq2X8UUytrNFSzcvBFisTBA3sP3i78eBx3p4JKxydtBMJHsMYoMbipV8PzlUtqGIGek6rzJgLGdsQMB4NN0n1BYIb0xmV3e97C8o2SA0KdciEol+tdt0w1RBYPaXKQjF1x7kkqinhxYOqwzWc7v5brXX++GKV23e7GhiXGXyeSKpz0hmDPV8hPwbtU0pfZOZGRIzpbp9aVG4czo6wDea3J8nNW8T3fA7ylQwe4GAWjRfyE635s26D7xRX9Yye4WAfBb+LDfCkXgSQcKzmTGahQxN8nzqzZZ/iFOftx1hVm9YRCfMjio9bM3jYrVHM9hmq6gDBu3dC3WRqNA95YDHuTrhFCHO1hZi16z4Mu9cp/dZudoLONyY90svUWEnjoDSLwODCNYdREolLD+bSWUjLbLJiRibApCcW/SWRTmhW4LEg7ivPWxYVSxdW48bgVSKkoEHIY9+KewBb/wvmpOfSVICMPXDPIxIfvXXoq8DGCNqqq0lahdO0S6MupusILv4PUG4EoSeLjtpAgVOUnJS0l1PPjQtImNyrOihPFmpeNj3mAvx1HVGI/ayO5LT8Ho=
