version: '3.2'

services:
  tellulf:
    container_name: tellulf
    build:
      context: .
      dockerfile: dockerfile
    ports:
      - '80:80'
    environment:
      HTTP_PORT: ${HTTP_PORT}
      NETATMO_USERNAME: ${NETATMO_USERNAME}
      NETATMO_PASSWORD: ${NETATMO_PASSWORD}
      NETATMO_CLIENT_SECRET: ${NETATMO_CLIENT_SECRET}
      NETATMO_CLIENT_ID: ${NETATMO_CLIENT_ID}
      FIREBASE_USER: ${FIREBASE_USER}
      FIREBASE_PASSWORD: ${FIREBASE_PASSWORD}
      TIBBER_KEY: ${TIBBER_KEY}
      TIBBER_HOME: ${TIBBER_HOME}
      TIBBER_CABIN: ${TIBBER_CABIN}
      TIMBER_API_KEY: ${TIMBER_API_KEY}
    volumes:
      - server_node_modules:/tellulf/server/node_modules
      - client_node_modules:/tellulf/client/node_modules
volumes:
  server_node_modules:
  client_node_modules:
