$background: #000000;
$text: #ffffff;
$mid: #767676;
$big-radius: 5px;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400&display=swap');

@import url('weather_css/weather-icons.css');
@import url('weather_css/weather-icons-wind.css');

body {
  font-family: 'raleway', sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: $background;
  color: $text;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.grid {
  height: 100vh;
  width: 100vw;
  display: grid;
  position: relative;
  overflow: hidden;
  grid-template-columns: auto 30vw;
  grid-template-rows: 24vh auto 30vh;
}

.block {
  margin: 0;
  padding: 1vw;
  display: flex;
}

.gridCalendar {
  grid-column: 1 / 1;
  grid-row: 1 / 4;
  overflow: auto;
}

.gridClock {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  padding-bottom: 0;
  padding-top: 1.2vw;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;

  .clockTime,
  .gridNetatmoTemp {
    font-size: 5em;
    font-weight: 200;
  }
}

.gridTrains {
  grid-column: 2 / 3;
  grid-row: 3 / 3;
  justify-content: space-evenly;
  align-items: center;
}

.gridEnergy {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.energyTableRow {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 0.3em;
  &.energyTableRowHeader {
    font-weight: 400;
    margin-top: 1em;
    margin-bottom: 0.5em;
  }
}

.infoBox {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.kalenderDag {
  margin: 10px 10px 22px 10px;
  background-color: $background;
  display: grid;
  grid-template-columns: 205px auto;
  grid-template-rows: auto;

  .kalenderDato {
    font-size: 22pt;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .kalendarDagInfo {
    display: flex;
    flex-direction: column;
  }

  .kalenderHendelser {
    margin-top: 0.75em;
  }

  .kalenderSubInfo {
    display: block;
    margin: 0 0 5px 0;
  }

  .weatherCellContainer {
    display: grid;
    grid-template-columns: auto 90px 90px 90px 90px;
    grid-column: 2/3;
    grid-row: 1/2;
    .weatherCell {
      display: flex;
      margin: 0;
      margin-left: 0.5em;
      padding: 0 0.5em 0.5em 0.5em;
      flex-direction: column;
      width: 100%;
      overflow: hidden;
      align-items: center;
      justify-content: flex-start;

      &.row-1 {
        grid-column: 2;
      }

      &.row-2 {
        grid-column: 3;
      }

      &.row-3 {
        grid-column: 4;
      }

      &.row-4 {
        grid-column: 5;
      }

      .subInfo {
        font-size: 9pt;
        color: $mid;
        text-align: center;
      }

      .bigInfo {
        font-size: 19pt;
      }

      .weatherCellLine {
        margin-bottom: 3px;
        margin-top: 3px;
      }

      .weatherSymbol {
        width: 60px;
        height: auto;
      }
    }
  }
}

.ruterGroup {
  margin-bottom: 1em;
  .header {
    font-size: 1.5em;
    display: flex;
    margin-bottom: 0.5em;
    justify-content: flex-start;
    align-items: center;
    .ruteNummer {
      margin-left: 1em;
    }
    img {
      width: 1.5em;
      height: 1.5em;
    }
  }
  .avganger {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    .avgang {
      padding: 0.25em;
      margin: 0.25em;
      border: 1px solid $mid;
      border-radius: $big-radius;
    }
  }
}

@media only screen and (max-width: 600px) {
  .grid {
    grid-template-columns: 100vw;
    grid-template-rows: 10vh auto 14vh;
  }
  .gridCalendar {
    grid-row: 2 / 4;
    overflow: auto;
  }
  .gridClock {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .gridSettings {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
  }
  .gridNetatmoTemp {
    display: none;
  }
  .clockTime {
    font-size: 4.5em;
  }
}
