$background: #000000;
$text: #ffffff;
$mid: #767676;
$radius: 2px;
$big-radius: 5px;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400&display=swap');

@import url('weather_css/weather-icons.css');
@import url('weather_css/weather-icons-wind.css');

body {
  font-family: 'raleway', sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: $background;
  color: $text;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.grid {
  height: 100vh;
  width: 100vw;
  display: grid;
  position: relative;
  overflow: hidden;
  grid-template-columns: auto 30vw;
  grid-template-rows: 24vh auto 30vh;
}

.block {
  margin: 0;
  padding: 1vw;
  display: flex;
}

.gridCalendar {
  grid-column: 1 / 1;
  grid-row: 1 / 4;
  overflow: auto;
}

.gridClock {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  padding-bottom: 0;
  padding-top: 1.2vw;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.gridTrains {
  grid-column: 2 / 3;
  grid-row: 3 / 3;
  justify-content: space-evenly;
  align-items: center;
}

.gridSettings {
  grid-column: 2 / 3;
  grid-row: 2 / 4;
  background-color: darkblue;
  z-index: 999;
}

.gridEnergy {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.clockTime {
  font-size: 5em;
  font-weight: 200;
}

.gridNetatmoTemp {
  font-size: 5em;
  font-weight: 200;
}

.yr-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  border: none;
  display: flex;
  flex-direction: column;
}

.weatherMeta {
  display: flex;
  height: 2vh;
  padding: 1vh 1vw 1vh 1vw;
  align-content: center;
  justify-content: center;
}

.energyTableRow {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 0.3em;
  &.energyTableRowHeader {
    font-weight: 400;
    margin-top: 1em;
    margin-bottom: 0.5em;
  }
}

.infoBox {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.kalenderDag {
  margin: 0.5vh 0.5vw 1vh 0.5vw;
  background-color: $background;
  display: grid;
  grid-template-columns: 225px auto;
  grid-template-rows: 5vh auto 5vh;
  border-radius: $big-radius;

  .kalenderDato {
    font-size: 22pt;
    padding: 15px;
    padding-left: 20px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .kalenderSted {
    grid-column: 1 / 3;
    grid-row: 2 / 4;
    display: flex;
    padding: 10px;
    justify-content: flex-end;
    align-items: flex-start;
    color: #ffffffaa;
  }

  .kalendarDayInfo {
    padding-left: 20px;
    padding-top: 10px;
    grid-column: 1 / 3;
    grid-row: 2 / 4;
  }

  .kalenderSubInfo {
    display: block;
    margin: 0 0 5px 0;
  }

  .weatherSummary {
    text-align: right;
    padding: 15;
    padding-left: 20px;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .weatherGraph {
    grid-column: 1 / 3;
    grid-row: 2 / 4;
    display: flex;
    align-items: flex-end;
  }
}

.ruterGroup {
  margin-bottom: 1em;
  .header {
    font-size: 1.5em;
    display: flex;
    margin-bottom: 0.5em;
    justify-content: flex-start;
    align-items: center;
    .ruteNummer {
      margin-left: 1em;
    }
    img {
      width: 1.5em;
      height: 1.5em;
    }
  }
  .avganger {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    .avgang {
      padding: 0.25em;
      margin: 0.25em;
      border: 1px solid $mid;
      border-radius: $big-radius;
    }
  }
}

@media only screen and (max-width: 600px) {
  .grid {
    grid-template-columns: 100vw;
    grid-template-rows: 10vh auto 14vh;
  }
  .gridCalendar {
    grid-row: 2 / 4;
    overflow: auto;
  }
  .gridClock {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .gridSettings {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
  }
  .gridNetatmoTemp {
    display: none;
  }
  .clockTime {
    font-size: 4.5em;
  }
}
