
.yr-container {
	height: 100%;
	width: 100%;
	overflow: hidden;
  border: none;
  display: flex;
  flex-direction: column;
}

.weatherMeta {
  display: flex;
  height: 2vh;
  padding: 1vh 1vw 1vh 1vw;
  align-content: center;
  justify-content: center;
}