.kalenderRamme
{
  display: flex;
  flex-direction: column;
}

.calendarDay {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-top: 0.3vh;
  margin-right: 0.3vh;
	padding: 1vw;
  background-color: #ffffff22;
}

.calendarDayHeader
{
	font-size: 2.2vh;
	flex: 1;
	display: flex;
	margin-bottom: 0.5vh;
}

.hendelse {
  font-size: 1.5vh;
	display: flex;
  flex: 1;
  flex-direction: column;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 5px;
}

.eventTime {
	display: flex;
	color: rgba(255,255,255,0.5);
	margin-top: 3px;
	font-size: 1.5vh;
}
