#klokkeContainer {
  display: flex;
  flex-direction: column;
  height: 25vh;
  width: '100%';
  justify-content: 'center';
  align-items: 'center';
}

#tid {
  font-size: 13vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex: 2;
}

#dag {
  font-size: 5vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 1vh;
  flex: 1;
}

#dato {
  font-size: 5vh;  
}