#track {
    width: 766px;
    height: 50px;
    overflow: hidden;
}

.train {
    display: block;
    position: absolute;
    top: 10px;
    height: 20px;
    border: 1px solid rgb(70,70,70);
    border-left: 10px solid rgb(70,70,70);
    width: 100px;
    padding: 5px;
    font-size: 20px;
    background-color: rgb(30,30,30);
    text-align: center;
}
