#track {
  overflow: hidden;
}

.train {
  display: block;
  position: absolute;
  top: 0.5vh;
  height: 5vh;
  border: 1px solid rgb(70,70,70);
  border-left: 10px solid rgb(70,70,70);
  width: 100px;
  padding: 5px;
  font-size: 20px;
  background-color: rgb(30,30,30);
  text-align: center;
  color: rgb(255,255,255);
}
