.train {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 1vh;
  bottom: 1vh;
  border: 1px solid rgb(70,70,70);
  border-left: 10px solid rgb(70,70,70);
  width: 100px;
  padding: 0.5vh;
  font-size: 17px;
  background-color: rgb(30,30,30);
}
