body {
  font-family: -apple-system, arial, sans-serif;
  font-weight: 200;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: black;
}

.grid {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-column-gap: 0px;
  grid-template-columns: 75vw 25vw;
  grid-template-rows: 15vh 15vh 33vh 33vh 6vh;
}

.gridContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex: 1;
}

.block {
  position: relative;
  overflow: auto;
}