body {
  font-family: -apple-system, arial, sans-serif;
  font-weight: 200;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.gridContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex: 1;
  background-color: black;
}

.block {
  position: relative;
  overflow: auto;
}