body {
  font-family: -apple-system, arial, sans-serif;
  font-weight: 200;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: black;
  color: rgb(255, 255, 255);
}

.grid {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-column-gap: 0px;
  grid-template-columns: auto 30vw;
  grid-template-rows: 18vh 20vh 28vh 30vh 6vh;
}

.block {
  position: relative;
  overflow: auto;
}