body {
  font-family: -apple-system, arial, sans-serif;
  font-weight: 200;
  font-size: 11pt;
  height: 99vh;
  margin: 0.5vw;
  width: 99vw;
  overflow: hidden;
  background-color: rgb(0,0,0);
  color: rgb(255, 255, 255);
}

.grid {
  height: 99vh;
  width: 99vw;
  display: grid;
  grid-column-gap: 0.5vw;
  grid-row-gap: 0.5vh;
  grid-template-columns: auto 30vw;
  grid-template-rows: auto 14vh 30vh 30vh 5vh;
}

.block {
  position: relative;
  overflow: auto;
  background-color: rgb(0,0,0);
  padding: 1.5vw;
}