name: CI
on: push

jobs:
  client-build:
    name: Client, Lint and Build
    runs-on: ubuntu-latest
    steps:
      - name: Check Out
        uses: actions/checkout@v1
      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: 10.x
      - name: Install Client Dependencies
        run: yarn --cwd "client" install --non-interactive --pure-lockfile
      - name: Lint Client
        run: yarn --cwd "client" run lint
      - name: Build Client
        run: CI=false yarn --cwd "client" run build
      - name: Archive Production Client
        uses: actions/upload-artifact@master
        with:
          name: client
          path: client/build
      - name: Deploy to Firebase
        uses: w9jds/firebase-action@master
        with:
          args: deploy --only hosting
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
