name: Build and test
# This workflow is triggered on pushes to the repository.
on: [push]

jobs:
  my_job:
    name: Build
    runs-on: ubuntu-18.04
    steps:
      - name: Check Out
        uses: actions/checkout@v1
      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: 10.x
      - name: Install Dependencies
        run:
          echo "Running"
