name: CI
on: push

jobs:
  client-build:
   name: Client, Build and Lint
   runs-on: ubuntu-18.04
   steps:
    - name: Check Out
      uses: actions/checkout@v1
    - name: Setup Node
      uses: actions/setup-node@v1
      with:
        node-version: 10.x
    - name: Install Client Dependencies
      run: yarn --cwd "client" install --non-interactive --pure-lockfile
    - name: Lint Client
      run: yarn --cwd "client" run lint
    - name: Build Client
      run: CI=false yarn --cwd "client" run build  
    - name: Archive Production Client
      uses: actions/upload-artifact@master
      with:
        name: client
        path: client/build
        
  client-deploy:
    name: Client, Deploy
    needs: client-build
    runs-on: ubuntu-18.04
    env:
      FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
      COMMIT_ID: ${{ github.sha }}
    if: github.ref == 'refs/heads/master'
    steps:
      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: 10.x
      - name: Install Firebase 
        run: npm install -g firebase-tools
      - name: Checkout Repo
        uses: actions/checkout@master
      - name: Download Artifact
        uses: actions/download-artifact@master
        with:
          name: client
          path: client/build
      - name: Add Firebase to Path
        run: alias firebase="`npm config get prefix`/bin/firebase"
      - name: Deploy to Firebase
        run: firebase deploy --only hosting -m "Github Action, Commit $COMMIT_ID" --non-interactive --token $FIREBASE_TOKEN
  
  functions_deploy:
    name: Functions, Deploy
    runs-on: ubuntu-18.04
    if: github.ref == 'refs/heads/master'
    env:
      FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
      COMMIT_ID: ${{ github.sha }}
    steps:
      - name: Checkout Repo
        uses: actions/checkout@master
      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: 10.x
      - name: Install Firebase 
        run: npm install -g firebase-tools
      - name: Add Firebase to Path
        run: alias firebase="`npm config get prefix`/bin/firebase"
      - name: Install Function Dependencies
        run: yarn --cwd "functions" install --non-interactive --pure-lockfile
      - name: Deploy Functions
        if: github.ref == 'refs/heads/master'
        run: firebase deploy --only functions -m "Github Action, Commit $COMMIT_ID" --non-interactive --token $FIREBASE_TOKEN
        
  server-build:
    name: Server, Build
    runs-on: ubuntu-18.04
    steps:
      - name: Check Out
        uses: actions/checkout@v1
      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: 10.x
      - name: Install Server Dependencies
        run: yarn --cwd "server" install --non-interactive --pure-lockfile
      - name: Build Server
        run: CI=false yarn --cwd "server" run build
      - name: Archive Production Server
        uses: actions/upload-artifact@master
        with:
          name: server
          path: server/dist
  
  server_deploy:
    name: Server, Push to Dockerhub
    runs-on: ubuntu-18.04
    needs: server-build
    if: github.ref == 'refs/heads/master'
    env: 
      DOCKERHUB_USER: ${{ secrets.DOCKERHUB_USER }}
      DOCKERHUB_PWD: ${{ secrets.DOCKERHUB_PWD }}
      COMMIT_ID: ${{ github.sha }}
    steps:
      - name: Check Out
        uses: actions/checkout@v1
      - name: Download Artifact
        uses: actions/download-artifact@v1
        with:
          name: server
          path: server/dist
      - name: Create Server Container
        run: yarn --cwd "server" run buildDocker
      - name: Log in to Dockerhub
        run: docker login --username ${{ secrets.DOCKERHUB_USER }} --password ${{ secrets.DOCKERHUB_PWD }}
      - name: Tag Docker
        run: docker tag $DOCKERHUB_USER/tellulf:latest $DOCKERHUB_USER/tellulf:ci_$COMMIT_ID
      - name: Push Docker (Latest)
        run: docker push $DOCKERHUB_USER/tellulf
      - name: Push Docker (Specific)
        run: docker push $DOCKERHUB_USER/tellulf:ci_$COMMIT_ID
