name: Build and test
# This workflow is triggered on pushes to the repository.
on: [push]

jobs:
  build_client:
    name: Install, build and test
    runs-on: ubuntu-18.04
    env: 
      DOCKERHUB_USER: ${{ secrets.DOCKERHUB_USER }}
      DOCKERHUB_PWD: ${{ secrets.DOCKERHUB_PWD }}
      FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
      COMMIT_ID: ${{ github.sha }}
    steps:
      - name: Check Out
        uses: actions/checkout@v1
      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: 10.x
      - name: Install Firebase 
        run: npm install -g firebase-tools
      - name: Add Firebase to Path
        run: alias firebase="`npm config get prefix`/bin/firebase"
      - name: Log in to Dockerhub
        if: github.ref == "master"
        run: docker login --username ${{ secrets.DOCKERHUB_USER }} --password ${{ secrets.DOCKERHUB_PWD }}
      - name: Install Client Dependencies
        run: yarn --cwd "client" install --non-interactive --pure-lockfile
      - name: Install Server Dependencies
        run: yarn --cwd "server" install --non-interactive --pure-lockfile
      - name: Install Function Dependencies
        run: yarn --cwd "functions" install --non-interactive --pure-lockfile
      - name: Lint Client
        run: yarn --cwd "client" run lint
      - name: Build Client
        run: CI=false yarn --cwd "client" run build
      - name: Build Server
        run: CI=false yarn --cwd "server" run build
      - name: Create Server Container
        if: github.ref == "master"
        run: yarn --cwd "server" run buildDocker
      - name: Deploy Client and Functions
        if: github.ref == "master"
        run: firebase deploy -m "Github Action, Commit $COMMIT_ID" --non-interactive --token $FIREBASE_TOKEN
      - name: Tag Docker
        if: github.ref == "master"
        run: docker tag $DOCKERHUB_USER/tellulf:latest $DOCKERHUB_USER/tellulf:ci_$TRAVIS_BUILD_NUMBER
      - name: Push Docker (Latest)
        if: github.ref == "master"
        run: docker push $DOCKERHUB_USER/tellulf
      - name: Push Docker (Specific)
        if: github.ref == "master"
        run: docker push $DOCKERHUB_USER/tellulf:ci_$COMMIT_ID
      - name: Docker Logout
        if: github.ref == "master"
        run: docker logout
